<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>8JWTW4TxTUGQMgW9t7fT4g</string>
	<key>developmentAppSecret</key>
	<string>3DjDggNjRBKROpAh5243zQ</string>
	<key>productionAppKey</key>
	<string>i0AuyR32QzmPNNcxFpzf-A</string>
	<key>productionAppSecret</key>
	<string>XBJLLrUUSriOKfJ-utparw</string>
</dict>
</plist>
